.window {
    padding-top: 12px;
    max-width: 250px;
    max-height: 150px;
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
        height: 80px;
    }

    span {
        margin: 12px 0;
        text-align: center;
        font-weight: 500;
    }
}