#List {
    padding-right: 20px;
    height: 100%;
    min-width: 290px;

    form {
        padding-top: 20px;

        label {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .search_inputs {
        height: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .centered-loading {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inputs {
        margin-top: 12px;
        flex-wrap: wrap;
        display: flex;
        gap: 12px;
    }

    .inputs>* {
        min-width: 264px;
    }

    .card_list {
        margin-top: 25px;
        overflow: auto;
    }

    // scrollbar css Start

    ::-webkit-scrollbar {
        background: white !important;
        border-radius: 12px;
        width: 10px !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #40C3D2 !important;
        height: 30px;
        border-radius: 20px !important;
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-track {
        margin: 0px 0;
    }

    // scrollbar css End

    @media screen and (max-width: 900px) {
        .card_list {
            max-height: 250px;
        }
    }
}